{% extends "base.html" %}
{% block start %} 

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Reciepe name</label>
          <input name="receipe_name" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Reciepe description</label>
          <textarea class="form-control" name="receipe_description" ></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Reciepe Image</label>
            <input name="receipe_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Reciepe</button>
      </form>

       <br>


      <div class="mt-5">
        <div class="mx-auto col-6">
          <form action="">
          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Search Food</label>
          <input name="search" type="text" class="form-control">
          <br>
          <button type="submit" class="btn btn-primary">Search</button>
          </div>
          </form>
      </div>
      </div>

      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Reciepe name</th>
            <th scope="col">Reciepe description</th>
            <th scope="col">Reciepe Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for reciepe in receipes%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{reciepe.receipe_name}}</td>
            <td>{{reciepe.receipe_description}}</td>
            <td>
                <img src="/media/{{reciepe.receipe_image}}" style="height: 150px;" >
            </td>
            <td>
                <a href="/delete-reciepe/{{reciepe.id}}/" class="btn btn-danger m-2">Delete</a>
                <a href="/update-reciepe/{{reciepe.id}}/" class="btn btn-success">Update</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
</div>

{% endblock %} 
